<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h3>로그인</h3>
    <fieldset>
        <!-- 
            - get과 post페이지가 동일하면 action 생략 가능
            - action이 없으면 헌재 페이지 주소로 데이터를 전송
        -->
        <form action="http://127.0.0.1:5000/link" method="post"> 
            <input type="text" name="uid" placeholder="아이디" required/>
            <input type="password" name="upw" placeholder="비밀번호" required/>
            <input type="submit" value="전송"/>
        </form>
    </fieldset>
</body>
</html>